h1 {
  color: green;
  font-family: Arial, Helvetica, sans-serif;
}


#content {
    background-color: Green;
    width: 700px;
    min-height: 450px;
    padding: 5px;
    margin: 5px;
    border-radius: 4px;
  }
